<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>S.K. Group</title>

<link href="style.css" rel="stylesheet" type="text/css" media="screen" />

<!--######################################################-->
  <link rel="stylesheet" href="css/superfish.css">
  
  <script>
    (function() {
      var jasmineEnv = jasmine.getEnv()
      jasmineEnv.addReporter(new jasmine.HtmlReporter)
      window.onload = function() {
        jasmineEnv.execute()
      };
    })();
  </script>
  

<!--######################################################-->

</head>

<body>
<!-- Content section -->
<div class="wrapper">
<div id="top_border"></div>
<div class="top_content">
<div class="top_pan">
    <div class="logo"><a href="index.html"><img src="images/logo.png" alt="Surjo Sakha - A Green Initiative" title="Surjo Sakha - A Green Initiative" /></a></div>
    

<div class="top_right">

    <ul>
    <li><a href="#">Home</a><span>|</span></li>
    <li><a href="#">Sitemap</a><span>|</span></li>
    <li><a href="#">Contacts</a></li>
    </ul>
    <div class="clear"></div>
    <div class="top_link">
    <h4>Follow us:</h4>
    <ul>
    <li><a href="#"><img src="images/twitter.png" alt="Twitter" title="Twitter" /></a></li>
    <li><a href="#"><img src="images/facebook.png" alt="facebook" title="Facebook" /></a></li>
    <li><a href="#"><img src="images/linkedin.png" title="Linkedin" /></a></li>
    </ul>
    </div>
    
    </div>




</div>
</div>
<div class="menu_section">
<div class="menu_wrapper">
  <div id="jasmine_content">

    <ul class="sf-menu" id="example">
      <li>
        <a href="#">Home</a>
  
      </li>
      <li class="current">
        <a href="#">About Us</a>
      </li>
      <li>
        <a href="#">Products</a>
        <ul>
          <li>
            <a href="#">export &amp; import</a>
            <ul>
              <li><a href="#">short</a></li>
              <li><a href="#">short</a></li>
              <li><a href="#">short</a></li>
              <li><a href="#">short</a></li>
              <li><a href="#">short</a></li>
            </ul>
          </li>
          <li>
            <a href="#">menu item</a>
            <ul>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
            </ul>
          </li>
          <li>
            <a href="#">menu item</a>
            <ul>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
            </ul>
          </li>
          <li>
            <a href="#">menu item</a>
            <ul>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
            </ul>
          </li>
          <li>
            <a href="#">menu item</a>
            <ul>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Sales Areas</a>
      </li> 
    

  <li>
        <a href="#">Apply</a>
      </li>
  <li>
        <a href="#">Contact Us</a>
      </li>
  </ul>
  
  
  </div>

</div>
</div>
</div>
</div>

</div>

<div class="container"> 

<!-- inner head start -->

<div class="inner_head">
<img src="images/inner_head.jpg" alt="" />
</div>

<!-- inner head end -->


<div class="clear"></div>    
    
<div class="content_area">
<h2>Contact<span> Us</span></h2>




	<form action="" method="post">
		<table class="form">
			<tr>
				<th><label for="name"><strong>Name:</strong></label></th>
				<td><input class="inp-text" name="name" id="name" type="text" size="30" /></td>
			</tr>

			<tr>
				<th><label class="email" for="email" title="Will be masked"><strong>E-mail:</strong></label></th>
				<td><input class="inp-text" name="email" id="email" type="text" size="30" /></td>
			</tr>

			<tr>
				<th><label for="web">Web:</label></th>
				<td><input class="inp-text" name="web" id="web" type="text" size="30" /></td>
			</tr>

			<tr>
				<th class="message-up"><label for="message"><strong>Message:</strong></label></th>
				<td>
				<textarea name="message" id="message" cols="30" rows="5"></textarea>
				</td>
			</tr>

			<tr>
				<th><label for="question" class="invisible">Question:</label></th>
				<td><samp>99&nbsp;+&nbsp;11&nbsp;=</samp> &nbsp; <input class="answer" name="antispam" id="question" type="text" size="5" /> 
				<span><strong>(spam protection)</strong></span></td>
			</tr>

			<tr>
				<td class="submit-button-right" colspan="2"><input class="submit-text" type="submit" value="SEND" title="Send your message" /></td>
			</tr>
		</table>
	</form>



<div class="clear"></div>
</div>



</div>

<!--footer_section_start-->

<div class="footer">
<div class="footer_content">
<div class="footer_logo"></div>

<div class="footer_left">
<div class="footer_left_1">
    <ul>
    <li><a href="">Privacy Policy</a><span>|</span></li>
    <li><a href="">Disclaimer </a><span>|</span></li>
    <li><a href="">Terms &amp; Conditions</a></li>
    </ul>
</div>
<div class="footer_left_2">© 2013 S. K. Group. All Rights Reserved.</div>
</div>
</div>
</div>
<!--footer_section_end-->



</div>

	
</body>
</html>
