<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>S.K. Group</title>

<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="stylesheet" href="css/superfish.css">

<script type="text/javascript" src="script/jquery.js"></script>
<script type="text/javascript" src="script/jquery.lightbox-0.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="jquery.lightbox-0.4.css" media="screen" />

<script type="text/javascript">
    $(function() {
        $('#gallery a').lightBox();
		$('#cottage a').lightBox();
		$('#plan a').lightBox();
    });
</script>
 
  


</head>

<body>
<!-- Content section -->
<div class="wrapper">
<div id="top_border"></div>
<div class="top_content">
<div class="top_pan">
    <div class="logo"><a href="index.html"><img src="images/logo.png" alt="Surjo Sakha - A Green Initiative" title="Surjo Sakha - A Green Initiative" /></a></div>
    

<div class="top_right">

    <ul>
    <li><a href="#">Home</a><span>|</span></li>
    <li><a href="#">Sitemap</a><span>|</span></li>
    <li><a href="#">Contacts</a></li>
    </ul>
    <div class="clear"></div>
    <div class="top_link">
    <h4>Follow us:</h4>
    <ul>
    <li><a href="#"><img src="images/twitter.png" alt="Twitter" title="Twitter" /></a></li>
    <li><a href="#"><img src="images/facebook.png" alt="facebook" title="Facebook" /></a></li>
    <li><a href="#"><img src="images/linkedin.png" title="Linkedin" /></a></li>
    </ul>
    </div>
    
    </div>




</div>
</div>
<div class="menu_section">
<div class="menu_wrapper">
  <div id="jasmine_content">

    <ul class="sf-menu" id="example">
      <li>
        <a href="#">Home</a>
  
      </li>
      <li class="current">
        <a href="#">About Us</a>
      </li>
      <li>
        <a href="#">Products</a>
        <ul>
          <li>
            <a href="#">export &amp; import</a>
            <ul>
              <li><a href="#">short</a></li>
              <li><a href="#">short</a></li>
              <li><a href="#">short</a></li>
              <li><a href="#">short</a></li>
              <li><a href="#">short</a></li>
            </ul>
          </li>
          <li>
            <a href="#">menu item</a>
            <ul>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
            </ul>
          </li>
          <li>
            <a href="#">menu item</a>
            <ul>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
            </ul>
          </li>
          <li>
            <a href="#">menu item</a>
            <ul>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
            </ul>
          </li>
          <li>
            <a href="#">menu item</a>
            <ul>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Sales Areas</a>
      </li> 
    

  <li>
        <a href="#">Apply</a>
      </li>
  <li>
        <a href="#">Contact Us</a>
      </li>
  </ul>
  
  
  </div>

</div>
</div>
</div>
</div>

</div>

<div class="container"> 

<!-- inner head start -->

<div class="inner_head">
<img src="images/gallery_head.jpg" alt="" />
</div>

<!-- inner head end -->


<div class="clear"></div>    
    
<div class="content_area">
<h2>Photo <span>Gallery</span></h2>

<div id="gallery">
      <ul>
        <li> <a href="images/photo_1.jpg" title="Product_1"> <img src="images/photo_1.jpg" width="200" height="144" alt="image1" /></a><strong>Product Name 1</strong> <span class="des">dkfjasfjj</span></li>
        <li> <a href="images/photo_1.jpg" title="Product_2"> <img src="images/photo_1.jpg" width="200" height="144" alt="image2" /></a><strong>Product Name 2</strong> <span class="des">dkfjasfjj</span></li>
        <li> <a href="images/photo_1.jpg" title="Product_3"> <img src="images/photo_1.jpg" width="200" height="144" alt="image3" /></a><strong>Product Name 3</strong> <span class="des">dkfjasfjj</span></li>
        <li> <a href="images/photo_1.jpg" title="Product_4"> <img src="images/photo_1.jpg" width="200" height="144" alt="image4" /></a><strong>Product Name 4</strong> <span class="des">dkfjasfjj</span></li>
        <li> <a href="images/photo_1.jpg" title="Product_5"> <img src="images/photo_1.jpg" width="200" height="144" alt="image5" /></a><strong>Product Name 5</strong> <span class="des">dkfjasfjj</span></li>
        <li> <a href="images/photo_1.jpg" title="Product_6"> <img src="images/photo_1.jpg" width="200" height="144" alt="image6" /></a><strong>Product Name 6</strong> <span class="des">dkfjasfjj</span></li>
        <li> <a href="images/photo_1.jpg" title="Product_7"> <img src="images/photo_1.jpg" width="200" height="144" alt="image7" /></a><strong>Product Name 7</strong> <span class="des">dkfjasfjj</span></li>
        <li> <a href="images/photo_1.jpg" title="Product_8"> <img src="images/photo_1.jpg" width="200" height="144" alt="image8" /></a><strong>Product Name 8</strong> <span class="des">dkfjasfjj</span></li>
        <li> <a href="images/photo_1.jpg" title="Product_9"> <img src="images/photo_1.jpg" width="200" height="144" alt="image9" /></a><strong>Product Name 9</strong> <span class="des">dkfjasfjj</span></li>
        <li> <a href="images/photo_1.jpg" title="Product_10"> <img src="images/photo_1.jpg" width="200" height="144" alt="image10" /></a><strong>Product Name 10</strong> <span class="des">dkfjasfjj</span></li>
        <li> <a href="images/photo_1.jpg" title="Product_11"> <img src="images/photo_1.jpg" width="200" height="144" alt="image" /></a><strong>Product Name 11</strong> <span class="des">dkfjasfjj</span></li>
        <li> <a href="images/photo_1.jpg" title="Product_12"> <img src="images/photo_1.jpg" width="200" height="144" alt="image" /></a><strong>Product Name 12</strong> <span class="des">dkfjasfjj</span></li>
   </ul>
   
    </div>



<div class="clear"></div>
</div>



</div>

<!--footer_section_start-->

<div class="footer">
<div class="footer_content">
<div class="footer_logo"></div>

<div class="footer_left">
<div class="footer_left_1">
    <ul>
    <li><a href="">Privacy Policy</a><span>|</span></li>
    <li><a href="">Disclaimer </a><span>|</span></li>
    <li><a href="">Terms &amp; Conditions</a></li>
    </ul>
</div>
<div class="footer_left_2">© 2013 S. K. Group. All Rights Reserved.</div>
</div>
</div>
</div>
<!--footer_section_end-->



</div>

	
</body>
</html>
