<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>S.K. Group</title>

<link href="style.css" rel="stylesheet" type="text/css" media="screen" />

<script type="text/javascript" src="script/jquery-1.js"></script>
<script type="text/javascript" src="script/banner.js"></script>

<script type="text/javascript">
$(function() {
    $(".carouel_area").jCarouselLite({
        btnNext: ".next",
        btnPrev: ".prev"
    });
});

</script>

<!--######################################################-->

  <link rel="stylesheet" href="css/superfish.css">
  
  <script>
    (function() {
      var jasmineEnv = jasmine.getEnv()
      jasmineEnv.addReporter(new jasmine.HtmlReporter)
      window.onload = function() {
        jasmineEnv.execute()
      };
    })();
  </script>

<!--######################################################-->

</head>

<body>
<!-- Content section -->
<div class="wrapper">
<div id="top_border"></div>
<div class="top_content">
<div class="top_pan">
    <div class="logo"><a href="index.html"><img src="images/logo.png" alt="Surjo Sakha - A Green Initiative" title="Surjo Sakha - A Green Initiative" /></a></div>
    

<div class="top_right">

    <ul>
    <li><a href="#">Home</a><span>|</span></li>
    <li><a href="#">Sitemap</a><span>|</span></li>
    <li><a href="#">Contacts</a></li>
    </ul>
    <div class="clear"></div>
    <div class="top_link">
    <h4>Follow us:</h4>
    <ul>
    <li><a href="#"><img src="images/twitter.png" alt="Twitter" title="Twitter" /></a></li>
    <li><a href="#"><img src="images/facebook.png" alt="facebook" title="Facebook" /></a></li>
    <li><a href="#"><img src="images/linkedin.png" title="Linkedin" /></a></li>
    </ul>
    </div>
    
    </div>




</div>
</div>
<div class="menu_section">
<div class="menu_wrapper">
  <div id="jasmine_content">

    <ul class="sf-menu" id="example">
      <li class="current">
        <a href="#">Home</a>
  
      </li>
      <li>
        <a href="#">About Us</a>
      </li>
      <li>
        <a href="#">Products</a>
        <ul>
          <li>
            <a href="#">export &amp; import</a>
            <ul>
              <li><a href="#">short</a></li>
              <li><a href="#">short</a></li>
              <li><a href="#">short</a></li>
              <li><a href="#">short</a></li>
              <li><a href="#">short</a></li>
            </ul>
          </li>
          <li>
            <a href="#">menu item</a>
            <ul>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
            </ul>
          </li>
          <li>
            <a href="#">menu item</a>
            <ul>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
            </ul>
          </li>
          <li>
            <a href="#">menu item</a>
            <ul>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
            </ul>
          </li>
          <li>
            <a href="#">menu item</a>
            <ul>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Sales Areas</a>
      </li> 
    

  <li>
        <a href="#">Apply</a>
      </li>
  <li>
        <a href="#">Contact Us</a>
      </li>
  </ul>
  
  
  </div>

</div>
</div>
</div>
</div>

</div>

<div class="container"> 

<!-- Slide show start -->

<div class="slideshow">

<!-- img_1 -->
<div class="slides" style="visibility:visible" id="image1">
<img src="images/img_1.png" alt="" />
</div>

<!-- img_2 -->
<div class="slides" id="image2">
<img src="images/img_2.png" alt="" />
</div>

<!-- img_3 -->
<div class="slides" id="image3">
<img src="images/img_3.png" alt="" />
</div>

<!-- img_4 -->
<div class="slides" id="image4">
<img src="images/img_4.png" alt="" />
</div>

<!-- img_5 -->
<div class="slides" id="image5">
<img src="images/img_5.png" alt="" />
</div>

<!-- img_6 -->
<div class="slides" id="image6">
<img src="images/img_6.png" alt="" />
</div>

<div class="clear"></div>
<ul class="buttons">
<li class="active" id="button1"><a href="#" title="">&nbsp;</a></li>
<li id="button2"><a href="#" title="">&nbsp;</a></li>
<li id="button3"><a href="#" title="">&nbsp;</a></li>
<li id="button4"><a href="#" title="">&nbsp;</a></li>
<li id="button5"><a href="#" title="">&nbsp;</a></li>
<li id="button6"><a href="#" title="">&nbsp;</a></li>
</ul>

</div>

<!-- Slide show end -->


<div class="clear"></div>    
    
<div class="content_area">
<h2>Welcome to <span>S. K. GROUP</span></h2>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release.</p>


<div class="clear"></div>
</div>

<div class="middle_pan">
<div class="column four margin_right">
  <img src="images/small_img_1.jpg" alt="" />
  <h4>Lorem Ipsum </h4>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsumt...</p>
  <a href="#" class="more">...more</a>
</div>

<div class="column four margin_right">
	<img src="images/small_img_2.jpg" alt="" />
  <h4>Lorem Ipsum </h4>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsumt...</p>
  <a href="#" class="more">...more</a>
</div>
<div class="column four margin_right">
	<img src="images/small_img_3.jpg" alt="" />
  <h4>Lorem Ipsum </h4>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsumt...</p>
  <a href="#" class="more">...more</a>
</div>
<div class="column four">
	<img src="images/small_img_4.jpg" alt="" />
  <h4>Lorem Ipsum </h4>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsumt...</p>
  <a href="#" class="more">...more</a>
</div>

<div class="clear"></div>
</div>

</div>

<!--footer_section_start-->

<div class="footer">
<div class="footer_content">
<div class="footer_logo"></div>

<div class="footer_left">
<div class="footer_left_1">
    <ul>
    <li><a href="">Privacy Policy</a><span>|</span></li>
    <li><a href="">Disclaimer </a><span>|</span></li>
    <li><a href="">Terms &amp; Conditions</a></li>
    </ul>
</div>
<div class="footer_left_2">© 2013 S. K. Group. All Rights Reserved.</div>
</div>
</div>
</div>
<!--footer_section_end-->



</div>

	
</body>
</html>
