<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>S.K. Group</title>

<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="stylesheet" href="css/superfish.css">

<script type="text/javascript" src="script/jquery.js"></script>
<script type="text/javascript" src="script/jquery.lightbox-0.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="jquery.lightbox-0.4.css" media="screen" />

<script type="text/javascript">
    $(function() {
        $('#gallery a').lightBox();
		$('#cottage a').lightBox();
		$('#plan a').lightBox();
    });
</script>
 
  


</head>

<body>
<!-- Content section -->
<div class="wrapper">
<div id="top_border"></div>
<div class="top_content">
<div class="top_pan">
    <div class="logo"><a href="index.html"><img src="images/logo.png" alt="Surjo Sakha - A Green Initiative" title="Surjo Sakha - A Green Initiative" /></a></div>
    

<div class="top_right">

    <ul>
    <li><a href="#">Home</a><span>|</span></li>
    <li><a href="#">Sitemap</a><span>|</span></li>
    <li><a href="#">Contacts</a></li>
    </ul>
    <div class="clear"></div>
    <div class="top_link">
    <h4>Follow us:</h4>
    <ul>
    <li><a href="#"><img src="images/twitter.png" alt="Twitter" title="Twitter" /></a></li>
    <li><a href="#"><img src="images/facebook.png" alt="facebook" title="Facebook" /></a></li>
    <li><a href="#"><img src="images/linkedin.png" title="Linkedin" /></a></li>
    </ul>
    </div>
    
    </div>




</div>
</div>
<div class="menu_section">
<div class="menu_wrapper">
  <div id="jasmine_content">

    <ul class="sf-menu" id="example">
      <li>
        <a href="#">Home</a>
  
      </li>
      <li class="current">
        <a href="#">About Us</a>
      </li>
      <li>
        <a href="#">Products</a>
        <ul>
          <li>
            <a href="#">export &amp; import</a>
            <ul>
              <li><a href="#">short</a></li>
              <li><a href="#">short</a></li>
              <li><a href="#">short</a></li>
              <li><a href="#">short</a></li>
              <li><a href="#">short</a></li>
            </ul>
          </li>
          <li>
            <a href="#">menu item</a>
            <ul>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
            </ul>
          </li>
          <li>
            <a href="#">menu item</a>
            <ul>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
            </ul>
          </li>
          <li>
            <a href="#">menu item</a>
            <ul>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
            </ul>
          </li>
          <li>
            <a href="#">menu item</a>
            <ul>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
              <li><a href="#">menu item</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Sales Areas</a>
      </li> 
    

  <li>
        <a href="#">Apply</a>
      </li>
  <li>
        <a href="#">Contact Us</a>
      </li>
  </ul>
  
  
  </div>

</div>
</div>
</div>
</div>

</div>

<div class="container"> 

<!-- inner head start -->

<div class="inner_head">
<img src="images/gallery_head.jpg" alt="" />
</div>

<!-- inner head end -->


<div class="clear"></div>    
    
<div class="content_area">
<h2>Product <span>Detail</span> </h2>

<h1>Product Name</h1>
<div class="clear"></div>

<div class="detail">
<div class="detail_1">
<table width="215"  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="140"><a><img src="images/detail_img.jpg" style="border:1px solid #5c7d94; margin-top:7px" /></a></td>
  </tr>
</table>
</div>
<div class="detail_2">
<table width="340" border="0" class="detail_list" cellpadding="10" cellspacing="12">
  <tr>
    <td width="75" height="28">Product</td>
    <td width="14">:</td>
    <td width="181">Craftsman hwefhgi</td>
  </tr>
  <tr>
    <td>Style</td>
    <td>:</td>
    <td> 3,126 Sq. Ft</td>
  </tr>
  <tr>
    <td>Size</td>
    <td>:</td>
    <td>32</td>
  </tr>
  <tr>
    <td>Serial No. </td>
    <td>:</td>
    <td>104'</td>
  </tr>
  <tr>
    <td>Capacity  </td>
    <td>:</td>
    <td>  84'</td>
  </tr>
  <tr>
    <td>Price </td>
    <td>:</td>
    <td>2,000</td>
  </tr>
</table>
</div>
<div class="clear"></div>

<div class="detail_content">
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release.</p>




</div>

</div>



<div class="clear"></div>
</div>



</div>

<!--footer_section_start-->

<div class="footer">
<div class="footer_content">
<div class="footer_logo"></div>

<div class="footer_left">
<div class="footer_left_1">
    <ul>
    <li><a href="">Privacy Policy</a><span>|</span></li>
    <li><a href="">Disclaimer </a><span>|</span></li>
    <li><a href="">Terms &amp; Conditions</a></li>
    </ul>
</div>
<div class="footer_left_2">© 2013 S. K. Group. All Rights Reserved.</div>
</div>
</div>
</div>
<!--footer_section_end-->



</div>

	
</body>
</html>
